<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659898113890-afoefv64dh8nunnoti93tip2l8k3udo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659898113890-afoefv64dh8nunnoti93tip2l8k3udo1</string>
	<key>API_KEY</key>
	<string>AIzaSyD_SvYu6lDnY8Xr-tjTb-w702RcDpr0P1I</string>
	<key>GCM_SENDER_ID</key>
	<string>659898113890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyperboxgames.hypercasualbase</string>
	<key>PROJECT_ID</key>
	<string>hyper-casual-base</string>
	<key>STORAGE_BUCKET</key>
	<string>hyper-casual-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659898113890:ios:4f38d147f7c803b2a1963b</string>
	<key>DATABASE_URL</key>
	<string>https://hyper-casual-base.firebaseio.com</string>
</dict>
</plist>